* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fallback color */
    background-image: url(../static/image/1111.jpg);
    background-size: cover; /* Cover the entire screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    color: #333;
    height: 100vh; /* Ensure body takes full height */
}

.navbar {
    background-color: #a43da3;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.container-image {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 160px;
    width: 100%;
    max-width: 600px;
}

.title {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #933d80;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 20px;
    color: green;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #a43da3;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}